body{
    justify-content: center;
}
img {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
li {
    padding-left: 25%;
}
.collegas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.collega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    background-color: rgb(248, 255, 226);
    margin: 15px;
    border-radius: 1cm;
}
.avatar { 
    display:flex;
    width: 100%;  
    justify-content: center;
}
.avatar > img {
    width: 75%;
    border-radius: 0.5cm;
    object-fit:cover;
    object-position: 50% 50%;
    aspect-ratio: 1 / 1;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
.collega > img {
    object-fit:cover;
    aspect-ratio: 1 / 1;
    /*
    height: 50px;
    width: 50px;*/
    margin-top: 50px;
    margin-bottom: 50px;
}
.collega:nth-child(1) > img {
    object-position: 0% 50%;
}
.collega:nth-child(2) > img {
    object-position: 50% 50%;
}
.collega:nth-child(3) > img {
    object-position: 100% 50%;
}